name: Push app to production link

on:
  workflow_dispatch:
    inputs:
      server-flavour:
        description: "Server Flavour"
        required: true
        type: choice
        default: "prod"
        options:
          - prod
          - staging
          - dev

      company-name:
        description: "Company Name"
        required: true
        type: choice
        default: "ptml"
        options:
          - ptml
          - grimaldiTogo

      prefix:
        description: "Prefix"
        required: true
        type: string
        default: ""

      temp-prefix:
        description: "Temp Prefix"
        required: true
        type: string
        default: ""

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-${{ github.event.inputs.server-flavour }}-${{ github.event.inputs.company-name }}
  cancel-in-progress: true

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Download apps from Google Drive
        uses: logickoder/google-drive-download@main
        with:
          authType: "oauth"
          clientId: ${{ secrets.OAUTH_CLIENT_ID }}
          clientSecret: ${{ secrets.OAUTH_CLIENT_SECRET }}
          refreshToken: ${{ secrets.OAUTH_REFRESH_TOKEN }}
          filename: "${{ github.event.inputs.temp-prefix }}-app-${{ inputs.company-name }}-*.apk"
          folderId: ${{ secrets.DRIVE_FOLDER_ID }}
          destination: "./downloads/"

      - name: Rename artifacts
        run: python3 -u scripts/rename_artifacts.py "./downloads/" "${{ github.event.inputs.prefix }}" "${{ github.event.inputs.temp-prefix }}"

      - name: Upload apps to Google Drive
        uses: logickoder/g-drive-upload@main
        with:
          authType: "oauth"
          clientId: ${{ secrets.OAUTH_CLIENT_ID }}
          clientSecret: ${{ secrets.OAUTH_CLIENT_SECRET }}
          refreshToken: ${{ secrets.OAUTH_REFRESH_TOKEN }}
          filename: "./downloads/*.apk"
          folderId: ${{ secrets.DRIVE_FOLDER_ID }}
          overwrite: "true"
          mimeType: "application/vnd.android.package-archive"
